@import "tailwindcss";

:root {
  --bg-main: #FFF8F1;
  --bg-soft: #FFFCF8;

  --primary: #18AFC4;
  --primary-light: #BFE4F2;

  --coral: #F9958E;
  --pink-soft: #F9DDD9;

  --yellow: #FFD976;

  --cream: #F7EBD8;

  --text-main: #4A4A4A;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
  font-family: Arial, Helvetica, sans-serif;
}

/* TARJETAS */
.card-soft {
  background: var(--bg-soft);
  border-radius: 28px;
  padding: 24px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.06);
}

/* BOTONES */
.btn-primary {
  background: var(--primary);
  color: white;
  border-radius: 16px;
  padding: 10px 18px;
  font-weight: 600;
}

.btn-coral {
  background: var(--coral);
  color: white;
  border-radius: 16px;
  padding: 10px 18px;
  font-weight: 600;
}

.btn-yellow {
  background: var(--yellow);
  color: var(--text-main);
  border-radius: 16px;
  padding: 10px 18px;
  font-weight: 600;
}

.btn-soft {
  background: var(--pink-soft);
  color: var(--text-main);
  border-radius: 16px;
  padding: 10px 18px;
  font-weight: 600;
}
